<!DOCTYPE html>
<html lang="es">
    
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Superhéroe</title>
    <link rel="stylesheet" href="/css/styles.css">
    

</head>
<body>
    <h1 class="text-3xl font-semibold mb-4"> Agregar un Nuevo Superhéroe</h1>
    <form action="/api/heroes" method="POST">
        <label for="nombreSuperHeroe">Nombre del Superhéroe:</label>
        <input type="text" name="nombreSuperHeroe" placeholder="Nombre del Superhéroe" required>
        <br><br>
        <label for="nombreReal">Nombre Real:</label>
        <input type="text" name="nombreReal" placeholder="Nombre Real" required>
        <br><br>
        <label for="edad">Edad:</label>
        <input type="number" name="edad" placeholder="Edad" min="1" required>
        <br><br>
        <label for="planetaOrigen">Planeta de Origen:</label>
        <input type="text" name="planetaOrigen" placeholder="Planeta de Origen" required>
        <br><br>
        <label for="debilidad">Debilidad:</label>
        <input type="text" name="poderes" placeholder="Poderes (separados por comas)" required>
        <br><br>
        <label for="poderes">Poderes:</label>
        <input type="text" name="debilidad" placeholder="Debilidades (separadas por comas)" required>
        <br><br>
        <label for="aliados">Aliados:</label>
        <input type="text" name="aliados" placeholder="Aliados (separadas por comas)" required>
        <br><br>
        <label for="enemigos">Enemigos:</label>
        <input type="text" name="enemigos" name="enemigos" placeholder="Enemigos (separadas por comas)" required>
<br><br><br><section class="mt-12 text-center">
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-green-700 transition duration-300">Agregar</button><section class="mt-12 text-center"></section>
    </form>

    <!-- Validación en el cliente -->
    <script>
        document.querySelector('form').addEventListener('submit', function (e) {
            const edad = parseInt(document.querySelector('input[name="edad"]').value, 10);
            if (isNaN(edad) || edad <= 0) {
                alert('La edad debe ser un número positivo');
                e.preventDefault();
            }
        });
    </script>
</body>
</html>




