<!DOCTYPE html>
<html>
<head>
    <title>Error 500</title>
</head>
<body>
    <h1>Error al procesar la solicitud</h1>
    <p><%= mensaje %></p>
    <p><%= error %></p>
    <a href="/api/heroes">Volver a la lista</a>
</body>
</html>
